---
global:
  hostname: 'vyos-l0.engyak.net'
  domain: 'engyak.net'
  timezone: 'US/Alaska'
interfaces:
  eth1:
    ipv4: '10.6.192.1/31'
    ipv6: '2610:100:6000:de0::2/64'
  eth2:
    ipv4: '10.6.194.1/31'
    ipv6: '2610:100:6000:de2::2/64'
  eth3:
    ipv4: '10.6.196.1/24'
    ipv6: '2610:100:6000:de8::1/64'
bgp:
  asn: '64916'
  rid: '10.6.196.1'
  spine1:
    ipv4: '10.6.192.0'
    ipv6: '2610:100:6000:de0::1'
    asn: '64908'
  spine2: 
    ipv4: '10.6.194.0'
    ipv6: '2610:100:6000:de2::1'
    asn: '64909'
  keepalive: '4'
  holdtime: '12'
policy:
  prefixout:
    name: 'ADVERTISE-CONNECTED'
    description: "Advertise Connected routes"
    contents: |-
      rule 10 {
          action permit
          prefix 10.6.196.0/24
      }
      rule 20 {
          action permit
          prefix 10.6.192.0/31
      }
      rule 30 {
          action permit
          prefix 10.6.194.0/31
      }
  prefixin:
    name: 'INBOUND-SPINE'
    description: "Accept inbound spine routes"
    contents: |-
      rule 10 {
          action permit
          ge 20
          le 32
          prefix 10.6.192.0/19
      }
  prefix6out:
    name: 'ADVERTISE-CONNECTED6'
    description: "Advertise Connected IPv6 routes"
    contents: |-
      rule 10 {
          action permit
          prefix 2610:100:6000:de0::/64
      }
      rule 20 {
          action permit
          prefix 2610:100:6000:de2::/64
      }
      rule 30 {
          action permit
          prefix 2610:100:6000:de8::/64
      }
  prefix6in:
    name: 'INBOUND-SPINE6'
    description: "Accept inbound IPv6 spine routes"
    contents: |-
      rule 10 {
          action permit
          ge 61
          le 128
          prefix 2610:1000:de::/60
      }
