---
global:
  hostname: 'vyos-l0.engyak.net'
  domain: 'engyak.net'
  timezone: 'US/Alaska'
interfaces:
  eth1:
    ipv4: '10.6.192.1/31'
    ipv6: '2610:100:6000:de0::2/64'
  eth2:
    ipv4: '10.6.194.1/31'
    ipv6: '2610:100:6000:de2::2/64'
  eth3:
    ipv4: '10.6.196.1/24'
    ipv6: '2610:100:6000:de8::1/64'
bgp:
  asn: '64916'
  rid: '10.6.196.1'
  spine1:
    ipv4: '10.6.192.0'
    asn: '64908'
  spine2: 
    ipv4: '10.6.194.0'
    asn: '64909'
  keepalive: '4'
  holdtime: '12'
policy:
  prefixout:
    name: 'ADVERTISE-CONNECTED'
    description: "Advertise Connected routes"
    contents: |-
        rule 10 {
                action permit
                prefix 10.6.196.0/24
            }
            rule 20 {
                action permit
                prefix 10.6.192.0/31
            }
            rule 30 {
                action permit
                prefix 10.6.194.0/31
            }
  prefixin:
    name: 'INBOUND-SPINE'
    description: "Accept inbound spine routes"
    contents: |-
        rule 10 {
            action permit
            prefix 10.6.192.0/19
        }
