---
global:
  hostname: 'vyos-s0.engyak.net'
  domain: 'engyak.net'
  timezone: 'US/Alaska'
interfaces:
  eth1:
    ipv4: '10.6.192.0/31'
    ipv6: '2610:100:6000:de0::1/64'
  eth2:
    ipv4: '10.6.192.2/31'
    ipv6: '2610:100:6000:de1::1/64'
  l0:
    ipv4: '10.6.198.0/32'
    ipv6: '2610:100:6000:def::/128'
bgp:
  asn: '64908'
  rid: '10.6.198.0'
  leaf1:
    ipv4: '10.6.192.1'
    asn: '64916'
  leaf2:
    ipv4: '10.6.192.3'
    asn: '64917'
  keepalive: '4'
  holdtime: '12'
policy:
  prefixout:
    name: 'ADVERTISE-CONNECTED'
    description: "Advertise Connected routes"
    contents: |-
        rule 10 {
            action permit
            prefix 10.6.192.0/31
        }
        rule 20 {
            action permit
            prefix 10.6.192.2/31
        }
        rule 30 {
            action permit
            prefix 10.6.198.0/32
        }
  prefixin:
    name: 'INBOUND-SPINE'
    description: "Accept inbound spine routes"
    contents: |-
        rule 10 {
            action permit
            prefix 10.6.192.0/19
        }
