---
- hosts: vyos_vclos_leafs
  tasks:
    - name: Test Reachability on Leafs!
      ping:
- hosts: vyos_vclos_spines
  tasks:
    - name: Test Reachability on Spines!
      ping:
- hosts: vclos_l0.engyak.net
  tasks:
    - name: Apply on L0!
      vyos.vyos.vyos_config:
        src: 'vyos-l0-compiled.conf'
        save: yes
