interfaces {
    ethernet eth0 {
        address dhcp
        ipv6 {
            address {
                autoconf
            }
        }
        vrf mgmt
    }
    loopback lo {
    }
}
interfaces {
    ethernet eth0 {
        address dhcp
        ipv6 {
            address {
                autoconf
            }
        }
        vrf mgmt
    }
    ethernet eth1 {
        address {{ interfaces.eth1.ipv4 }}
        address {{ interfaces.eth1.ipv6 }}
    }
    ethernet eth2 {
        address {{ interfaces.eth2.ipv4 }}
        address {{ interfaces.eth2.ipv6 }}
    }
    ethernet eth3 {
        address {{ interfaces.eth3.ipv4 }}
        address {{ interfaces.eth3.ipv6 }}
    }
    loopback lo {
    }
}
protocols {
    bgp {{ bgp.asn }} {
        address-family {
            ipv4-unicast {
                redistribute {
                    connected {
                    }
                }
            }
            ipv6-unicast {
                redistribute {
                    connected {
                    }
                }
            }
        }
        maximum-paths {
            ebgp 2
        }
        neighbor {{ bgp.spine1.ipv4 }} {
            address-family {
                ipv4-unicast {
                }
            }
            remote-as {{ bgp.spine1.asn }}
        }
        neighbor {{ bgp.spine2.ipv4 }} {
            address-family {
                ipv4-unicast {
                }
            }
            remote-as {{ bgp.spine2.asn }}
        }
        parameters {
            graceful-restart {
                stalepath-time 1
            }
            log-neighbor-changes
            router-id {{ bgp.rid }}
        }
        timers {
            holdtime {{ bgp.holdtime }}
            keepalive {{ bgp.keepalive }}
        }
    }
}

service {
    ssh {
        port 22
    }
}
system {
    config-management {
        commit-revisions 100
    }
    console {
        device ttyS0 {
            speed 115200
        }
    }
    host-name {{ global.hostname }}
    domain-name {{ global.domain }}
    ntp {
        server 0.pool.ntp.org {
        }
        server 1.pool.ntp.org {
        }
        server 2.pool.ntp.org {
        }
    }
    name-servers-dhcp eth0
    syslog {
        global {
            facility all {
                level info
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone {{ global.timezone }}
}
vrf {
    bind-to-all
    name mgmt {
        description out-of-bnd
        table 100
    }
}